In [1]:
# using print function
print("hello world")

hello world

In [4]:
#using type function

x=10
print(type(x))

b="python"
print(type(b))

z=19.5
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
# user input
x=input("enter a number ")
print("number is",x)

enter a number 2
number is 2